<% set_page_title(:edit_profile) %>

<% unless current_user.is_profile_complete? %>
  <%= render partial: "setup_welcome" %>
<% end %>

<div class="card bg-base-100">
  <div class="card-body">
    <h2 class="card-title cpy-profile">
      <%= current_user.is_profile_complete? ? t('.title') : t('.title_complete_your_profile') %>
    </h2>
    <% unless current_user.is_profile_complete? %>
      <p class="alert alert-info my-4">
        <%= t(".why_you_need_to_fill_profile_html") %>
      </p>
    <% end %>

    <%= render(partial: 'form') %>
  </div>
</div>

<%= render "onboarding_survey" %>

<%= render "newsletter" %>