<%= turbo_frame_tag 'issue_detail' do %>

  <%
    data = {
      controller: "issue-detail",
      action: "modal:closed@window->issue-detail#goBackHistory",
      "issue-detail-submit-on-title-change-value": local_assigns[:submit_on_title_change],
      "issue-detail-path-for-modal-closed-value": local_assigns[:back_path]
    }
  %>

  <% data.merge!("issue-detail-attach-path-value": attach_issue_file_path(issue)) if issue.persisted? %>

  <%= render_modal(inner_container_options: {
    class: "max-h-screen w-full max-w-3xl relative cpy-issue-detail",
    data: data
  }) do %>
    <div data-controller="dropzone" data-action="dropzone:complete->issue-detail#fileUploadCompleted">
      <div class="border-b border-background-200 pb-2 mb-4">
        <div class="flex items-center space-x-2">
          <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary-500/10 p-1 text-primary-500 ">
            <%= icon_for(:issues) %>
          </div>
          <h4 class="text-lg font-medium text-readable-content-700">
            <%= issue.persisted? ? "#{t("actions.edit")} #{Issue.model_name.human}" : "#{t("actions.create")} #{Issue.model_name.human}"%>
          </h4>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col w-3/4">
          <%= form_with(model: issue, url: local_assigns[:form_path], html: {
            class: 'flex flex-col gap-2',
            data: {
              turbo: true,
              "issue-detail-target": "form",
              action: "turbo:submit-end->issue-detail#onFormSubmit",
            }
            }) do |f| %>

            <div class="mb-2 flex flex-col items-stretch gap-2">
              <%= f.label :title, Issue.human_attribute_name(:title), class: "label-primary" %>

              <div data-controller='resizable-input' class="relative" >
                <div data-resizable-input-target="replica" class="break-all text-base p-2 whitespace-pre-line"></div>

                <%= f.text_area :title, required: true,
                  class: "text-base p-2 input-primary absolute w-full left-0 top-0 right-0 bottom-0 overflow-y-hidden",
                  "data-resizable-input-target": "input",
                  "data-issue-detail-target": "titleField",
                  "data-action": "keydown.enter->issue-detail#onTitleFieldEnter keydown.esc->issue-detail#onTitleFieldEsc blur->issue-detail#onTitleFieldBlur"
                  %>
              </div>
            </div>


            <% if issue.persisted? %>
              <div data-controller='issue--labels'
                  data-issue--labels-add-path-value="<%= add_label_project_issue_path(issue.project, issue) %>"
                  data-issue--labels-remove-path-value="<%= remove_label_project_issue_path(issue.project, issue) %>"
                  class="mb-4 flex flex-col items-stretch gap-2 cpy-issue-labels">
                <%= f.label :label_ids, Issue.human_attribute_name(:label_ids), class: "label-primary" %>
                <%= f.select :label_ids,
                      options_from_collection_for_select(issue.project.issue_labels, :id, :title, issue.label_ids),
                      { include_blank: false },
                      {
                        class: 'input-primary', multiple: true,
                        data: { controller: 'select2', tags: true }
                      } %>
              </div>
            <% end %>

            <%= render partial: 'issues/description_field', locals: { f:, issue: } %>

            <div class="flex gap-2 justify-end">
              <a class="btn-cancel" data-action="click->modal#close">
                <%= t('actions.cancel') %>
              </a>

              <% text = issue.persisted? ? t('actions.update') : t('actions.create') %>
              <%= f.button text, class: "btn-primary", data: { action: "issue-detail#trackUpdateButton" } %>
            </div>
          <% end %>

          <% if issue.persisted? %>
            <%= render partial: 'issues/files_drop', locals: { issue: } %>
          <% end %>
        </div>
        <% if issue.persisted? %>
          <div class="flex flex-col gap-2 items-stretch w-1/4 text-sm font-medium text-readable-content-700 text-left">

            <% if issue.persisted? && issue.project.default_visualization.groupings.present? %>
              <%= render partial: 'issues/issue_detail/grouping_picker', locals: { issue: issue } %>
            <% end %>

            <%= link_to time_entries_path(new_entry: { project_id: issue.project_id, issue_id: issue.id }), class: "mt-8 btn-outline-primary text-nowrap flex items-center py-2", data: { turbo_frame: "_top" } do %>
              <span class="mr-2"><%= icon_for(:time_entries) %></span>
              <span class="sm:block"><%= t("actions.start_time_tracking") %></span>
            <% end %>

            <div class="mt-4 flex flex-col items-stretch">
              <h5 class="w-full mb-2"><%= t("menu.actions") %></h5>
              <%= link_to destroy_path, class: "btn-danger flex items-center gap-2", data: { turbo_method: :delete, turbo_confirm: t("issue.destroy_confirmation", resource_name: Issue.model_name.human.downcase) } do %>
                <i class="fa-solid fa-trash"></i>
                <%= t("actions.remove") %>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
