<%= turbo_frame_tag 'issue_form' do %>
  <%= render_modal(inner_container_options: {
    class: "max-h-screen w-full max-w-4xl relative cpy-issue-detail",
    data: {
      controller: "issue-detail",
      action: "modal:closed@window->issue-detail#goBackHistory",
      "issue-detail-visualization-path-value": visualization_path(visualization),
      "issue-detail-attach-path-value": attach_issue_file_path(issue)
    }}) do %>
    <div data-controller="dropzone" data-action="dropzone:complete->issue-detail#fileUploadCompleted">
      <div class="border-b border-background-200 pb-2 mb-4">
        <div class="flex items-center space-x-2">
          <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary-500/10 p-1 text-primary-500 ">
            <%= icon_for(:issues) %>
          </div>
          <h4 class="text-lg font-medium text-readable-content-700">
            <%= issue.persisted? ? "#{t("actions.edit")} #{Issue.model_name.human}" : "#{t("actions.create")} #{Issue.model_name.human}"%>
          </h4>
        </div>
      </div>
      <div class="flex flex-col md:flex-row gap-8">
        <div class="flex flex-col grow">
          <%= form_with(model: [visualization, issue], html: {
            class: 'flex flex-col gap-2',
            data: {
              turbo: true,
              "issue-detail-target": "form"
            }
            }) do |f| %>

            <div class="mb-4 flex flex-col items-stretch gap-2">
              <%= f.label :title, Issue.human_attribute_name(:title), class: "label-primary" %>

              <div data-controller='resizable-input' class="relative" >
                <div data-resizable-input-target="replica" class="break-all text-base p-2 whitespace-pre-line"></div>

                <%= f.text_area :title, required: true,
                  class: "text-base p-2 input-primary absolute w-full left-0 top-0 right-0 bottom-0 overflow-y-hidden",
                  "data-resizable-input-target": "input",
                  "data-issue-detail-target": "titleField",
                  "data-action": "keydown.enter->issue-detail#onTitleFieldEnter keydown.esc->issue-detail#onTitleFieldEsc blur->issue-detail#onTitleFieldBlur"
                  %>
              </div>
            </div>


            <div data-controller='issue--labels'
                data-issue--labels-add-path-value="<%= add_label_project_issue_path(issue.project, issue) %>"
                data-issue--labels-remove-path-value="<%= remove_label_project_issue_path(issue.project, issue) %>"
                class="mb-4 flex flex-col items-stretch gap-2 cpy-issue-labels">
              <%= f.label :label_ids, Issue.human_attribute_name(:label_ids), class: "label-primary" %>
              <%= f.select :label_ids,
                    options_from_collection_for_select(issue.project.issue_labels, :id, :title, issue.label_ids),
                    { include_blank: false },
                    {
                      class: 'input-primary', multiple: true,
                      data: { controller: 'select2', tags: true }
                    } %>
            </div>

            <div class="mb-4 flex flex-col items-stretch gap-2 markdown">
              <div class="flex justify-between">
                <%= f.label :description, Issue.human_attribute_name(:description), class: "label-primary" %>
                <span class="cursor-pointer text-xs flex items-center" data-issue-detail-target="showPreviewButton" data-action="click->issue-detail#enablePreview">
                  <i class="fa fa-eye"></i>
                  <span class="ml-2"><%= t("actions.preview") %></span>
                </span>

                <span class="cursor-pointer text-xs hidden text-primary-500 flex items-center" data-issue-detail-target="showEditorButton" data-action="click->issue-detail#disablePreview">
                  <i class="fa fa-pencil"></i>
                  <span class="ml-2 "><%= t("actions.edit") %></span>
                </span>
              </div>

              <div class="markdown-editor">
                <div class="markdown-content hidden" data-issue-detail-target="descriptionPreview">
                </div>

                <%= f.text_area :description, class: "input-primary",
                "data-issue-detail-target": 'descriptionInput' %>
              </div>

            </div>

            <div class="flex gap-2 justify-end">
              <a class="btn-cancel" data-action="click->modal#close">
                <%= t('actions.cancel') %>
              </a>

              <% text = issue.persisted? ? t('actions.update') : t('actions.create') %>
              <%= f.button text, class: "btn-primary", value: "update-and-close-modal" %>
            </div>
          <% end %>
          <%= render partial: '/visualizations/issues/files_drop', locals: { issue: } %>
        </div>
        <% if issue.persisted? %>
          <div class="flex flex-col gap-2 text-sm font-medium text-readable-content-700 text-center">
            <h5 class="w-full"><%= t("menu.actions") %></h5>

            <%= link_to visualization_issue_path(visualization, issue), class: "btn-danger text-center inline-flex items-center gap-2", data: { turbo_method: :delete, turbo_confirm: t(".destroy_confirmation", resource_name: Issue.model_name.human.downcase) } do %>
              <i class="fa-solid fa-trash"></i>
              <%= t("actions.remove") %>
            <% end %>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>
