<div class="flex flex-col tour--issue-detail-fields">


  <% if issue.persisted? %>
    <div class="flex gap-2 mb-4">
      <%= form_with(model: issue, url: form_path, html: {
        class: 'flex flex-col grow gap-2',
        data: {
          turbo: true,
          "issue-detail-target": "form",
          action: "turbo:submit-end->issue-detail#onFormSubmit",
        }
        }) do |f| %>
          <div data-controller='issue--labels'
              data-issue--labels-add-path-value="<%= add_label_project_issue_path(issue.project, issue) %>"
              data-issue--labels-remove-path-value="<%= remove_label_project_issue_path(issue.project, issue) %>"
              class="grow cpy-issue-labels">
            <%= f.label :label_ids, Issue.human_attribute_name(:label_ids), class: "label" %>
            <%= f.select :label_ids,
                  options_from_collection_for_select(issue.project.issue_labels, :id, :title, issue.label_ids),
                  { include_blank: false },
                  {
                    class: 'input', multiple: true,
                    data: { controller: 'select2', tags: true }
                  } %>
          </div>
      <% end %>

      <%= form_with(model: issue, url: form_path, html: {
        class: 'flex flex-col',
        data: { controller: "form", turbo: true }
        }) do |f| %>
          <%= f.label :due_date, Issue.human_attribute_name(:due_date), class: "label" %>
          <div class="flatpickr-resetable-container">
            <%= f.text_field :due_date, class: 'input w-full',
              data: { controller: "flatpickr", action: "input->form#submit", show_clear_button: true }
              %>
          </div>
      <% end %>
    </div>
  <% end %>

  <%= react_component("IssueDetail/Description", content: issue.description, issueId: issue.id) %>

  <% if issue.persisted? %>
    <%= render partial: 'issues/files_drop', locals: { issue: } %>
  <% end %>
</div>