<% if issue.persisted? %>
  <div class="flex flex-col gap-2 items-stretch w-1/4 text-sm font-medium text-readable-content-700 text-left tour--issue-detail-actions">

    <% if issue.persisted? && issue.project.default_visualization.groupings.present? %>
      <%= render partial: 'issues/issue_detail/grouping_picker', locals: { issue: issue } %>
    <% end %>

    <%= form_with(model: issue, url: form_path, html: {
      class: 'mb-4 flex flex-col items-stretch gap-2',
      data: { controller: "form", turbo: true }
      }) do |f| %>
        <%= f.label :due_date, Issue.human_attribute_name(:due_date), class: "label-primary" %>
        <div class="flatpickr-resetable-container">
          <%= f.text_field :due_date, class: 'input-primary w-full',
            data: { "flatpickr-date-format": t("date.formats.flatpickr"), controller: "flatpickr", action: "input->form#submit" }
            %>
        </div>
    <% end %>

    <% unless issue.archived? %>
      <%= link_to time_entries_path(new_entry: { project_id: issue.project_id, issue_id: issue.id }), class: "mt-8 btn-outline-primary text-nowrap flex gap-2 items-center py-2 tour--issue-detail-time-tracking", data: { turbo_frame: "_top" } do %>
        <%= icon_for(:time_entries) %>
        <span class="sm:block"><%= t("actions.start_time_tracking") %></span>
      <% end %>
    <% end %>

    <div class="mt-4 flex flex-col gap-2 items-stretch">
      <h5 class="w-full mb-2"><%= t("menu.actions") %></h5>
      <% if issue.archived? %>
          <%= link_to t('actions.unarchive'),
          unarchive_issue_path(issue),
          class: "btn-success",
          data: { turbo_method: :put, turbo_confirm: t("confirmations.unarchive") }
          %>
        <%= link_to issue_path(issue), class: "btn-danger flex items-center gap-2", data: { turbo_method: :delete, turbo_confirm: t("issue.confirm_destroy", resource_name: Issue.model_name.human.downcase) } do %>
          <i class="fa-solid fa-trash"></i>
          <%= t("actions.remove") %>
        <% end %>
      <% else %>
        <%= link_to t('actions.archive'),
            archive_issue_path(issue),
            class: "btn-cancel",
            data: { turbo_method: :put, turbo_confirm: t("issue.confirm_archive") }
            %>
      <% end %>
    </div>
  </div>
<% end %>
