<li class="cpy-card tour--card issue--card"
  id="<%= dom_id(issue) %>"
  data-controller="visualization--board--card"
  data-favorite-issue-labels-issue-id="<%= issue.id %>"
  data-visualization--board--card-scroll-on-connect-value="<%= local_assigns[:scroll_on_connect] == true %>"
  data-grouping-column-target="card"
  data-grouping-column-issue-id-value="<%= issue.id %>"
  data-visualization--issue-filtering-target="issue">
  <%= link_to show_visualization_issue_path(visualization, issue),
    class: "group relative flex flex-col gap-2 text-sm text-content-500 border-2 border-background-200 bg-background-50 hover:bg-background-100 hover:border-background-900 cursor-pointer shadow-sm rounded-xl card p-3",
    data: {
      turbo_frame: 'issue_detail',
      turbo_action: 'advance'
    } do %>

    <div class="hidden flex items-center justify-center p-2 text-xs flex group-hover:flex items-center absolute top-2 right-2 rounded-full  bg-background-50">
      <i class="fa fa-pencil"></i>
    </div>


    <div class="flex gap-1 flex-nowrap">
      <div class="issue--finish-toggle <%= issue.finished? ? 'finished' : '' %>"
        data-controller="issue--finish-toogle" data-action="click->issue--finish-toogle#toogle"
        data-issue--finish-toogle-finish-path-value="<%= finish_issue_path(issue) %>"
        data-issue--finish-toogle-unfinish-path-value="<%= unfinish_issue_path(issue) %>">

        <div class="finish-icon">
          <i class="fa fa-check text-green-500"></i>
        </div>
      </div>

      <p class="issue--title font-normal grow break-all" data-issue-title>
        <%= issue.title %>
      </p>
    </div>


    <%= labels_list_for(issue) %>

    <%= render partial: 'visualizations/groupings/_card/icons', locals: { issue: } %>

    <%= due_date_for(issue) %>
  <% end %>
</li>
