<li class="cpy-card"
  id="<%= dom_id(issue) %>"
  data-controller="visualization--board--card"
  data-visualization--board--card-scroll-on-connect-value="<%= local_assigns[:scroll_on_connect] == true %>"
  data-grouping-column-target="card"
  data-grouping-column-issue-id-value="<%= issue.id %>"
  data-visualization--issue-filtering-target="issue">
  <%= link_to show_visualization_issue_path(visualization, issue),
    class: "group relative flex flex-col text-sm text-content-500 border-2 border-background-200 bg-background-50 hover:bg-background-100 hover:border-background-900 cursor-pointer shadow-sm rounded-xl card p-3",
    data: {
      turbo_frame: 'issue_form',
      turbo_action: 'advance'
    } do %>

    <div class="hidden flex items-center justify-center p-2 text-xs flex group-hover:flex items-center absolute top-2 right-2 rounded-full  bg-background-50">
      <i class="fa fa-pencil"></i>
    </div>

    <h2 class="font-normal grow break-all" data-issue-title>
      <%= issue.title %>
    </h2>

    <div class="mt-2 hide-if-empty">
      <%= labels_list_for(issue) %>
    </div>

    <%= render partial: 'visualizations/groupings/_card/icons', locals: { issue: } %>
  <% end %>
</li>
