<% animation_css = local_assigns[:recently_created] ? "animate__animated animate__zoomIn" : "" %>

<li class="board--column cpy-grouping tour--column <%= animation_css %> <%= 'collapsed' if grouping.hidden %>"
  style="animation-duration: 240ms;"
  id="<%= dom_id(grouping) %>"
  data-controller="grouping-column"
  data-grouping-column-scroll-to-on-connect-value="<%= local_assigns[:recently_created] == true %>"
  data-grouping-column-grouping-id-value="<%= grouping.id %>"
  data-action="keypress.n@window->grouping-column#nWasPressed"
  data-visualization--board-target="column"
  >
  <header class="board--column--header" data-controller="dropdown">
    <%= link_to edit_visualization_grouping_path(grouping.visualization_id, grouping.id),
          class: "board--column--header-title",
          data: { turbo_frame: 'grouping_form' } do %>
      <% if grouping.hidden %>
        <% grouping.title.each_char do |char| %>
          <span><%= char %></span>
        <% end %>
      <% else %>
        <%= grouping.title %>
      <% end %>
    <% end %>

    <div class="board--column--header-actions">
      <%= link_to visualization_grouping_path(grouping.visualization_id, grouping, grouping: { hidden: !grouping.hidden }),
            class: "text-readable-content-500 hover:text-readable-content-700 ",
            data: {
              turbo_method: :patch
            } do %>
        <i class="fa-solid  <%= grouping.hidden ? 'fa-arrows-left-right-to-line' : 'fa-down-left-and-up-right-to-center rotate-45' %>"></i>
      <% end %>

      <button class="text-readable-content-500 cpy-column-menu-button tour--column-menu-button <%= 'hidden' if grouping.hidden %>"
              data-action="click->dropdown#toggle click@window->dropdown#hide"
              data-dropdown-target="button"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fa-solid fa-ellipsis"></i>
      </button>

      <div class="bg-body-contrast z-10 absolute -right-2 top-full min-w-60 border border-background-100 rounded-lg shadow-lg overflow-hidden hidden cpy-column-menu"
        data-dropdown-target="menu">
        <div class="flex flex-col justify-stretch items-stretch text-sm text-left py-2">
          <div class="flex flex-row py-2 relative">
            <h3 class="mx-auto">
              <%= t('visualizations.column_menu.actions') %>
            </h3>
            <button class="absolute right-0 mr-4"
                    data-action="click->dropdown#toggle"
                    >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>

        <div class="flex flex-col mt-2 justify-stretch items-stretch">
          <div class="flex flex-col justify-stretch border-b border-background-100 pb-2 mb-2">
            <h4 class="text-sm font-bold text-readable-content-400 px-4 mb-2">Issues</h4>
            <%= link_to t('visualizations.column_menu.create_issue'), "#",
                class: "cpy-new-issue text-left py-2 px-4 hover:bg-background-100 w-full",
                data: { action: "click->grouping-column#showInlineCardForm click->dropdown#toggle" } %>
            <%= link_to t('visualizations.column_menu.move_all_issues'),
                move_all_issues_visualization_grouping_path(grouping.visualization_id, grouping.id),
                class: "py-2 px-4 hover:bg-background-100 w-full",
                data: { turbo_frame: 'move_all_issues_modal', action: "click->dropdown#toggle" } %>
          </div>

          <div class="flex flex-col justify-stretch">
            <h4 class="text-sm font-bold text-readable-content-400 px-4 mb-2">Column</h4>
            <%= link_to t('visualizations.column_menu.edit_column'),
                edit_visualization_grouping_path(grouping.visualization_id, grouping.id),
                class: "cpy-edit-column py-2 px-4 hover:bg-background-100 w-full",
                data: { turbo_frame: 'grouping_form', action: "click->dropdown#toggle" } %>
            <%= link_to t('visualizations.column_menu.delete'),
                visualization_grouping_path(grouping.visualization_id, grouping),
                class: "py-2 px-4 hover:bg-background-100 w-full text-red-600",
                data: { turbo_method: :delete, turbo_confirm: t("visualizations.column_menu.destroy_confirmation", title: grouping.title) } %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ul
    id="<%= grouping.id %>-cards-wrapper"
    class="board--column--card-list js-no-column-drag cpy-drop-zone"
    data-controller="sortable"
    data-sortable-target="container"
    data-sortable-shared-group-value="cards"
    data-sortable-move-path-value="<%= move_allocations_path %>"
    data-sortable-grouping-id="<%= grouping.id %>"
    data-grouping-column-target="cardContainer"
    >

    <% unless grouping.hidden %>
      <% grouping.issues.each do |issue| %>
        <%= render partial: 'visualizations/card', locals: {
          issue:,
          visualization: ,
          scroll_on_connect: local_assigns[:open_issue] == issue
        } %>
      <% end %>
    <% end %>
  </ul>

  <div class="board--column--footer">
    <%= render partial: 'visualizations/_column/inline_card_form', locals: { grouping:, visualization: } %>
    <button class="board--column--create-button cpy-inline-create-button tour--inline-create-button"
      data-grouping-column-target="showFormButton"
      data-action="click->grouping-column#showInlineCardForm">
      <i class="fa-solid fa-plus mr-2"></i>
      <p class="grow text-left">
        <%= t('visualizations.column_menu.create_issue') %>
      </p>
      <span class="board--column--create-button-shortcut"><%= t("actions.press") %> N</span>
    </button>
  </div>
</li>
