<li class="basis-60 shrink-0 p-2 border bg-body-contrast border-background-100 rounded-md shadow-xs cpy-grouping" id="<%= dom_id(grouping) %>">
  <header class="flex flex-col max-h-full">
    <div class="flex items-center justify-between mb-4 relative" data-controller="dropdown">
      <%= link_to edit_visualization_grouping_path(grouping.visualization_id, grouping.id), class: "grow font-semibold truncate text-readable-content-500 hover:text-readable-content-700 ml-2", data: { turbo_frame: 'grouping_form' } do %>
        <%= grouping.title %>
      <% end %>

      <button class="shrink-0 text-readable-content-500 hover:text-readable-content-700 mr-2 cpy-column-menu"
              data-action="click->dropdown#toggle"
              data-dropdown-target="button"
              role="button"
              aria-haspopup="true"
              aria-expanded="false">
        <i class="fa-solid fa-ellipsis"></i>
      </button>

      <div class="js-menu bg-body-contrast origin-top-right z-10 absolute top-full min-w-60 rounded-lg shadow-lg overflow-hidden left-0 hidden"
        data-dropdown-target="menu">
        <div class="flex flex-col justify-stretch items-stretch text-sm text-left py-2">
          <div class="flex flex-row items-center justify-stretch py-2 relative">
            <h3 class="mx-auto">
              <%= t('visualizations.column_menu.actions') %>
            </h3>
            <button class="shrink-0 absolute right-0 mr-4"
                    data-action="click->dropdown#toggle"
                    >
              <i class="fa-solid fa-xmark"></i>
            </button>
          </div>

          <div class="flex flex-col mt-2 w-full justify-stretch items-stretch">
            <%= link_to t('visualizations.column_menu.delete'), visualization_grouping_path(grouping.visualization_id, grouping), class: "py-2 px-4 hover:bg-background-100 shrink-0 grow", data: { turbo_method: :delete, turbo_confirm: t("visualizations.column_menu.destroy_confirmation", title: grouping.title) } %>
          </div>
        </div>
      </div>
    </div>

    <div class="flex flex-col grow shrink basis-auto flex-nowrap gap-y-2 items-stretch overflow-y-auto overflow-x-hidden scroll-smooth snap-y">
      <%= render partial: 'visualizations/card', collection: grouping.allocations, as: :allocation %>
    </div>
  </header>
</li>
