<% animation_css = local_assigns[:recently_created] ? "animate__animated animate__zoomIn" : "" %>
<li class="max-h-full w-64 flex flex-col shrink-0 p-2 border bg-body-contrast border-background-100 rounded-md shadow-xs cpy-grouping js-sortable-container <%= animation_css %>"
  style="animation-duration: 240ms;"
  id="<%= dom_id(grouping) %>"
  data-controller="grouping-column"
  data-grouping-column-scroll-to-on-connect-value="<%= local_assigns[:recently_created] == true %>"
  data-grouping-column-grouping-id-value="<%= grouping.id %>"
  data-action="keypress.n@window->grouping-column#nWasPressed"
  data-visualization--board-target="column"
  >
  <header class="flex flex-row flex-nowrap gap-x-1 mb-4 px-2 relative" data-controller="dropdown">
    <%= link_to edit_visualization_grouping_path(grouping.visualization_id, grouping.id), class: "grow font-semibold truncate text-readable-content-500 hover:text-readable-content-700", data: { turbo_frame: 'grouping_form' } do %>
      <%= grouping.title %>
    <% end %>

    <button class="text-readable-content-500 grow-0 shrink-0 cpy-column-menu-button"
            data-action="click->dropdown#toggle click@window->dropdown#hide"
            data-dropdown-target="button"
            role="button"
            aria-haspopup="true"
            aria-expanded="false">
      <i class="fa-solid fa-ellipsis"></i>
    </button>

    <div class="bg-body-contrast z-10 absolute -left-2 top-full min-w-60 border border-background-100 rounded-lg shadow-lg overflow-hidden hidden cpy-column-menu"
      data-dropdown-target="menu">
      <div class="flex flex-col justify-stretch items-stretch text-sm text-left py-2">
        <div class="flex flex-row py-2 relative">
          <h3 class="mx-auto">
            <%= t('visualizations.column_menu.actions') %>
          </h3>
          <button class="absolute right-0 mr-4"
                  data-action="click->dropdown#toggle"
                  >
            <i class="fa-solid fa-xmark"></i>
          </button>
        </div>

        <div class="flex flex-col mt-2 justify-stretch items-stretch">
          <div class="flex flex-col justify-stretch border-b border-background-100 pb-2 mb-2">
            <h4 class="text-sm font-bold text-readable-content-400 px-4 mb-2">Issues</h4>
            <%= link_to t('visualizations.column_menu.create_issue'), "#",
                class: "cpy-new-issue text-left py-2 px-4 hover:bg-background-100 w-full",
                data: { action: "click->grouping-column#showInlineCardForm click->dropdown#toggle" } %>
            <%= link_to t('visualizations.column_menu.move_all_issues'),
                move_all_issues_visualization_grouping_path(grouping.visualization_id, grouping.id),
                class: "py-2 px-4 hover:bg-background-100 w-full",
                data: { turbo_frame: 'move_all_issues_modal', action: "click->dropdown#toggle" } %>
          </div>

          <div class="flex flex-col justify-stretch">
            <h4 class="text-sm font-bold text-readable-content-400 px-4 mb-2">Column</h4>
            <%= link_to t('visualizations.column_menu.edit_column'),
                edit_visualization_grouping_path(grouping.visualization_id, grouping.id),
                class: "cpy-edit-column py-2 px-4 hover:bg-background-100 w-full",
                data: { turbo_frame: 'grouping_form', action: "click->dropdown#toggle" } %>
            <%= link_to t('visualizations.column_menu.delete'),
                visualization_grouping_path(grouping.visualization_id, grouping),
                class: "py-2 px-4 hover:bg-background-100 w-full text-red-600",
                data: { turbo_method: :delete, turbo_confirm: t("visualizations.column_menu.destroy_confirmation", title: grouping.title) } %>
          </div>
        </div>
      </div>
    </div>
  </header>

  <ul
    id="<%= grouping.id %>-cards-wrapper"
    class="flex flex-col flex-auto flex-nowrap gap-y-2 items-stretch overflow-y-auto overflow-x-hidden scroll-smooth js-no-column-drag cpy-drop-zone"
    data-controller="sortable"
    data-sortable-target="container"
    data-sortable-shared-group-value="cards"
    data-sortable-move-path-value="<%= move_allocations_path %>"
    data-sortable-grouping-id="<%= grouping.id %>"
    data-grouping-column-target="cardContainer"
    >

    <% grouping.issues.each do |issue| %>
      <%= render partial: 'visualizations/card', locals: {
        issue:,
        visualization: ,
        scroll_on_connect: local_assigns[:open_issue] == issue
      } %>
    <% end %>
  </ul>

  <div class="sticky bottom-0 w-full">
    <%= render partial: 'visualizations/_column/inline_card_form', locals: { grouping:, visualization: } %>
    <button class="cpy-inline-create-button w-full group flex flex-row items-center mt-4 p-2 hover:bg-background-100 rounded-md"
      data-grouping-column-target="showFormButton"
      data-action="click->grouping-column#showInlineCardForm">
      <i class="fa-solid fa-plus mr-2"></i>
      <p class="grow text-left">
        <%= t('visualizations.column_menu.create_issue') %>
      </p>
      <span class="group-hover:flex hidden text-xs font-medium ml-2 mr-2"><%= t("actions.press") %> N</span>
    </button>
  </div>
</li>
