<% set_page_title(:project_board, project_name: @visualization.project.name ) %>

<%= turbo_stream_from :groupings %>

<main class="grow">
  <div class="flex flex-col h-full">
    <div class="flex flex-col sm:flex-row items-center justify-between gap-3 mb-6 p-4 sm:px-12 pt-12">
      <h2 class="text-readable-content-800 font-semibold text-3xl text-readable-content-800 py-2">
        <%= @visualization.project.name %> - <%= Visualization.model_name.human(count: 1) %>
      </h2>

      <div class="flex items-stretch flex-col sm:flex-row gap-4">
        <%= link_to time_entries_path(new_entry: { project_id: @visualization.project.id }), class: "flex items-center link-secondary flex p-4", data: { turbo_frame: "_top" } do %>
          <span class="text-sm mr-2"><%= icon_for(:time_entries) %></span>
          <span class="sm:block"><%= t("actions.go_to_time_tracking") %></span>
        <% end %>
        <%= link_to new_visualization_grouping_path(@visualization), class: "flex text-sm btn-primary", data: { turbo_frame: 'grouping_form' } do %>
          <i class="fa-solid fa-plus mr-2"></i>

          <h2 class="grow font-semibold truncate">
            <%= "#{t('actions.create')} #{Grouping.model_name.human.downcase}" %>
          </h2>

        <% end %>
      </div>
    </div>

    <div class="mb-4 px-4 sm:px-12">
      <div class="relative">
        <div class="absolute w-full bottom-0 h-px bg-body-contrast" aria-hidden="true"></div>
        <ul class="relative text-sm font-medium flex flex-nowrap overflow-hidden no-scrollbar">
          <li class="mr-6">
            <%= link_to project_issues_path(@visualization.project), class: "block pb-2 whitespace-nowrap" do %>
              <%= t(:all_issues, scope: :nav) %>
            <% end %>
          </li>
          <li class="mr-6">
            <%= link_to visualization_path(@visualization), class: "block pb-2 border-b-2 border-primary whitespace-nowrap" do %>
              <%= t(:board_view, scope: :nav) %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>

    <%= turbo_frame_tag('grouping_form') {} %>

    <% if @open_issue.present? %>
      <%= render partial: 'visualizations/issues/form', locals: { issue: @open_issue, visualization: @visualization } %>
    <% else %>
      <%= turbo_frame_tag('issue_form') {} %>
    <% end %>

    <div class="relative grow cpy-columns-wrapper">
      <ul
          class="absolute top-0 left-0 right-0 bottom-0 sm:top-0 sm:pl-12 sm:pr-12 sm:pb-4 sm:scroll-pr-12 flex flex-row flex-nowrap gap-x-8 pb-2 sm:px-12 items-start overflow-x-auto overflow-y-hidden scroll-smoot"
          id="kanban-board"
          data-controller="sortable"
          data-sortable-target="container"
          data-sortable-ignore-drag-selector-value=".js-no-column-drag"
          data-sortable-move-path-value="<%= move_visualization_groupings_path(@visualization) %>"
          >
        <%= render partial: 'visualizations/column', collection: @visualization.groupings, as: :grouping, locals: {
          visualization: @visualization,
          open_issue:  @open_issue
        } %>

        <li class="order-last w-64 shrink-0" id="js-create-new-column">
          <%= link_to new_visualization_grouping_path(@visualization), class: "flex p-2 border items-center justify-between bg-body-contrast border-body-contrast-500 hover:border-primary-800 rounded-md shadow-xs text-readable-content-500 hover:text-readable-content-700", data: { turbo_frame: 'grouping_form' } do %>

            <h2 class="grow font-semibold truncate">
              <%= "#{t('actions.create')} #{Grouping.model_name.human.downcase}" %>
            </h2>
            <i class="fa-solid fa-plus"></i>

          <% end %>
        </li>

      </ul>
    </div>

  </div>
</main>
