
<%= turbo_frame_tag 'issue_label_form' do %>
<%= render_modal do %>

  <div class="border-b border-base-200 pb-2 mb-4">
    <div class="flex items-center space-x-2">
      <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary/10 p-1 text-primary ">
        <%= icon_for(:issue_labels) %>
      </div>

      <h4 class="text-lg font-medium text-base-content">
        <%= issue_label.persisted? ? "#{t("actions.edit")} #{IssueLabel.model_name.human}" : "#{t("actions.create")} #{IssueLabel.model_name.human}"%>
      </h4>
    </div>
  </div>
  <div class="space-y-4">
    <%= form_with(model: [current_project, issue_label], html: { class: 'flex flex-col gap-2', data: { turbo_frame: "_top" } }) do |f| %>
      <% if issue_label.errors.any? %>
        <div class="flex rounded-md w-full border-l-6 border-alert-500 bg-alert-500 bg-opacity-[15%] px-4 py-1 mb-5 shadow-sm md:p-4 text-sm text-alert-500">
          <%= issue_label.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>

      <div class="mb-4 flex flex-col items-stretch gap-2">
        <%= f.label :title, IssueLabel.human_attribute_name(:title), class: "label-primary" %>
        <%= f.text_field :title, autofocus: true, required: true, class: "input-primary" %>
      </div>

      <div
        class="mb-4 flex flex-col items-stretch gap-2"
        data-controller="color-input"
        data-color-input-issue-preview-outlet=".js-issue-preview-outlet"
        >
        <%= f.label :hex_color, IssueLabel.human_attribute_name(:hex_color), class: "label-primary" %>
        <div class="relative" data-color-input-target="wrapper">
          <%= f.text_field :hex_color, required: true, class: "input-primary", data: { color_input_target: "input" } %>
        </div>
      </div>

      <div
        class="mb-4 flex flex-col items-stretch gap-2 js-issue-preview-outlet"
        data-controller="issue-preview"
        >
        <p><%= t(".card_preview") %></p>

        <div class="relative flex flex-row gap-2 text-sm text-content-500 border-2 border-base-200 bg-base-100 shadow-sm rounded-xl card p-3"
        >
          <div class="rounded-lg bg-neutral-content animate-pulse" style="width: 4px;"></div>
          <div class="flex flex-col gap-2 grow">
            <span class="bg-neutral-content h-4 rounded animate-pulse"></span>

            <div class="grid gap-1 grid-cols-10">
              <span class="issue-label bg-neutral-content h-4 col-span-2 rounded" data-issue-preview-target="backgroundColor"></span>
              <span class="issue-label bg-neutral-content h-4 col-span-3 rounded" data-issue-preview-target="backgroundColor"></span>
              <span class="issue-label bg-neutral-content h-4 col-span-1 rounded" data-issue-preview-target="backgroundColor"></span>
            </div>
            <div class="flex flex-row items-stretch justify-start gap-3 text-base-content animate-pulse">
              <div class="h-4 w-4 rounded bg-neutral-content"></div>
              <div class="h-4 w-4 rounded bg-neutral-content"></div>
            </div>
          </div>
        </div>
      </div>


      <div class="flex gap-2 justify-center">
        <a class="btn-cancel" data-action="click->modal#close">
          <%= t('actions.cancel') %>
        </a>

        <% text = issue_label.persisted? ? t('actions.update') : t('actions.create') %>
        <%= f.button text, class: "btn-primary" %>
      </div>
    <% end %>
  </div>

<% end %>
<% end %>
