
<%= turbo_frame_tag 'issue_label_removal_confirmation' do %>
<%= render Modal::DialogComponent.new(
  title: @issue_label.title,
  icon: icon_for(:issue_labels)) do %>

  <div class="mt-4">
    <p class="text-base mb-4">
      <%= t(".associations", count_text: "#{@issue_label.issues.count} #{IssueLabel.model_name.human(count: @issue_label.issues.count)}" ) %>
    </p>

    <p class="text-sm text-base-content"><%= t(".explanation") %></p>
    <p class="mt-2 text-sm text-base-content"><%= t("confirmations.want_to_proceed") %></p>

    <div class="flex mt-4 gap-2 justify-end">
      <a class="btn-cancel btn-md" data-action="click->modal#close">
        <%= t('actions.cancel') %>
      </a>
      <%= link_to t('actions.remove'),
            project_issue_label_path(@issue_label.project_id, @issue_label),
            class: "btn-danger",
            data: {
              turbo_method: :delete,
              turbo_frame: "_top",
              turbo_confirm: t("confirmations.remove", resource_name: IssueLabel.model_name.human)
            }
            %>
    </div>
  </div>
<% end %>
<% end %>
