<%= search_form_for(q, url: total_time_reports_path, method: :get, html: { class: "js-filter-form" }) do |f| %>
  <div class="bg-body-contrast rounded-md border border-background-200 p-8 space-y-4">

    <div class="flex flex-col w-full justify-stretch items-stretch lg:flex-row gap-8 ">
      <div class="flex grow flex-col lg:flex-row justify-stretch items-center gap-4">
        <div class="flex  gap-2 w-full flex-col">
          <%= f.label :project_id_in, t(".filter_by_project"), class: "text-readable-content-500 text-sm " %>
          <%
            projects_data = Project.order(name: :asc).pluck(:name, :id)
          %>
          <%= f.select 'project_id_in', Project.pluck(:name, :id), { multiple: true }, { class: "w-full", data: { controller: 'select2' } } %>
        </div>
      </div>

      <div class="flex grow flex-col lg:flex-row justify-stretch cpy-tags-select items-center gap-4">
        <div class="flex  gap-2 w-full flex-col">
          <%= f.label :by_issue_labels_title, t(".filter_by_issue_labels"), class: "text-readable-content-500 text-sm " %>
          <%= f.select :by_issue_labels_title,
            options_for_select(IssueLabel.distinct.pluck(:title), params[:q].try(:[], :by_issue_labels_title)),
            { include_hidden: false },
            class: 'input-primary input-sm',
            multiple: true,
            data: {
              controller: 'select2',
              "select2-additional-classes": 'select2-contrast select2-sm'
            }
          %>
        </div>
      </div>

      <div class="w-full flex flex-col lg:flex-row lg:w-2/5 justify-stretch items-stretch gap-4 ">
        <div class="flex grow gap-2 flex-col">
          <%= f.label :reference_date_gteq, t(".entry_start_at"), class: "text-readable-content-500 text-sm " %>

          <%= f.text_field :reference_date_gteq, class: 'input-primary w-full',
            data: { "flatpickr-date-format": "Y-m-d", controller: "flatpickr" }
          %>
        </div>

        <div class="flex grow gap-2 flex-col">

          <%= f.label :reference_date_lteq, t(".entry_end_at"), class: "text-readable-content-500 text-sm " %>

          <%= f.text_field :reference_date_lteq,
            class: 'input-primary w-full',
            data: { "flatpickr-date-format": "Y-m-d", controller: "flatpickr" }
          %>
        </div>
      </div>
    </div>
    <div class="flex items-center justify-end gap-2">
      <%= link_to total_time_reports_path, class: 'button-cancel text-sm mr-4' do %>
        <%= t('actions.clear_filter') %>
      <% end %>

      <%= f.button onclick: "document.querySelector('.js-filter-form').action = '#{total_time_reports_path(format: :csv)}'", class: "btn-outline-primary btn-sm " do %>
        <%= t(".generate_report_csv") %>
      <% end %>

      <%= f.button t(".generate_report"), class: "btn-primary" %>
    </div>
  </div>
<% end %>