<div class="flex items-end justify-between gap-2 cpy-project-navigation">
  <h2 class="flex items-center text-base-content font-semibold text-3xl text-base-content py-2">
    <% if local_assigns[:sub_section] %>
      <div class="flex gap-2 items-center">
        <% if sub_section[:icon] %>
          <%= icon_for(sub_section[:icon]) %>
        <% end %>
        <span><%= sub_section[:title] %> - <%= project.name %></span>
      </div>
    <% else %>
      <%= project.name %>
    <% end %>
  </h2>
  <div class="flex items-stretch flex-col sm:flex-row gap-6">
    <%= link_to time_entries_path(new_entry: { project_id: project.id }), class: "flex items-center text-sm link link-primary flex", data: { turbo_frame: "_top" } do %>
      <span class="mr-2"><%= icon_for(:time_entries) %></span>
      <span class="sm:block"><%= t("actions.go_to_time_tracking") %></span>
    <% end %>
    <%= link_to project_issue_labels_path(project.id),
      class: "flex items-center btn btn-outline btn-primary flex tour--issue-labels",
      data: { turbo_frame: "_top" } do %>
      <span class="mr-2"><%= icon_for(:issue_labels) %></span>
      <span class="sm:block"><%= t(:manage_issue_labels, scope: :nav) %></span>
    <% end %>
  </div>
</div>

<div class="mt-2 mb-4 flex gap-4 text-sm font-medium border-b border-neutral-content tour--project-navigation-tabs">
  <%
    default_classes = "px-2 pb-1 whitespace-nowrap"
    tabs = [{
        icon: icon_for(:issues),
        text: t(:all_issues, scope: :nav),
        options: { href: project_issues_path(project) },
        is_selected: controller_name.downcase == 'issues'
      },{
        icon: icon_for(:boards),
        text: Visualization.model_name.human,
        options: { href: visualization_path(project.default_visualization) },
        is_selected: controller_name.downcase == 'visualizations'
      }
    ].each do |tab|

    tab[:options][:class] = "flex items-center gap-1 px-2 pb-2 whitespace-nowrap hover:text-primary"
    tab[:options][:data] = { turbo_frame: "_top" }
    if tab[:is_selected]
      tab[:options][:class] += "border-b-2 border-primary text-primary"
    end
  %>
    <%= content_tag :a, tab[:options] do %>
      <span class="text-xs"><%= tab[:icon] %></span>
      <%= tab[:text] %>
    <% end %>
  <% end %>
</div>
