<div id="<%= dom_id(project) %>" class='<%= project.archived? ? 'bg-body-100' : 'bg-bodynegative-500 border-l-body-500' %> border-l-4 p-8 flex flex-col items-stretch gap-4 border border-body-200 rounded-md shadow-xs text-md'">

  <div class="flex mb-4 justify-between items-center">
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2 text-body-700 font-medium text-xl">
        <%= project.name%>
        <% if project.archived? %>
          <span class="inline-block rounded-full border-warning-600 border py-1 px-3 text-xs font-medium text-warning-600">
            <%= t('archived').capitalize %>
          </span>
        <% end %>
      </div>

    </div>

    <div class="flex items-stretch justify-center place-self-end gap-4">

      <%= link_to t('actions.edit'),
                  edit_project_path(project),
                  class: "btn-primary ",
                  data: { turbo_frame: "project_form" }  %>
      <% if project.archived? %>
        <%= link_to t('actions.unarchive'),
                    unarchive_project_path(project),
                    class: "btn-success",
                    data: { turbo_method: :put, turbo_confirm: t("confirmations.unarchive") }
                    %>
      <% else %>
        <%= link_to t('actions.archive'),
                    archive_project_path(project),
                    class: "btn-danger",
                    data: { turbo_method: :put, turbo_confirm: t("confirmations.archive") }
                    %>
      <% end  %>

    </div>
  </div>

  <div class="flex w-full flex-col lg:flex-row gap-4 justify-between items-stretch">
    <div class="flex items-stretch justify-center place-self-start gap-4">

      <%= link_to visualization_path(project.default_visualization), data: { turbo_frame: "_top" } do %>
        <div class="relative">
          <button class="w-full min-w-max inline-flex transition-colors justify-center items-center bg-body-100 hover:bg-body-200 rounded-md p-4">
            <div class="flex items-center text-sm">
              <i class="mr-2 fa-regular fa-brands fa-flipboard"></i>
              <span class=""><%= t(".go_to_board") %></span>
            </div>
          </button>
        </div>
      <% end %>

      <% unless project.archived? %>
        <div class="relative " data-controller="dropdown">
          <button data-action="click->dropdown#toggle click@window->dropdown#hide"
            data-dropdown-target="button"
            class="w-full min-w-max	<%= project.time_tracking_enabled? ? "text-secondary-500" : "text-tertiary-500" %> inline-flex transition-colors justify-center items-center bg-body-100 hover:bg-body-200 rounded-md p-4">
            <div class="flex items-center text-sm">
              <% if project.time_tracking_enabled? %>
                <i class="mr-2 fa-regular fa-eye"></i>
                <span class=""><%= t(".enable_time_tracking") %></span>

              <% else %>
                <i class="mr-2 fa-regular fa-eye-slash"></i>
                <span class=""><%= t(".disable_time_tracking") %></span>

              <% end %>
              <i class="ml-4 fa-solid fa-chevron-down"></i>
            </div>
          </button>
          <div data-dropdown-target="menu" style="" class="z-1  w-full min-w-max text-nowrap bg-bodynegative-500 flex flex-col justify-stretch border border-body-300 text-body-500 text-sm bg-bodynegative-500 shadow-md rounded-md absolute left-0 top-[120%]">
            <%= link_to project_path(project,
              project: { time_tracking_enabled: !project.time_tracking_enabled }),
              data: { turbo_method: :put },
              class: "#{project.time_tracking_enabled? ? "text-tertiary-500" : "text-secondary-500" } p-4 flex text-md flex text-wrap justify-center text-center items-center border-b border-body-300 transition-colors last:border-0 hover:bg-body-100 "  do %>
                <% if project.time_tracking_enabled? %>
                  <i class="mr-2 fa-regular fa-eye-slash"></i>
                  <%= t(".disable_time_tracking") %>
                <% else %>
                  <i class="mr-2 fa-regular fa-eye"></i>
                  <%= t(".enable_time_tracking") %>
                <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
