<div id="<%= dom_id(project) %>" class='<%= project.archived? ? 'bg-background-100' : 'bg-body-contrast border-l-background-500' %> border-l-4 p-8 flex flex-col items-stretch gap-4 border border-background-200 rounded-md shadow-xs text-md'">

  <div class="flex mb-4 justify-between items-center">
    <div class="flex flex-col gap-4">
      <div class="flex items-center gap-2 text-readable-content-700 font-medium text-xl">
        <%= project.name%>
        <% if project.archived? %>
          <span class="inline-block rounded-full border-warning-600 border py-1 px-3 text-xs font-medium text-warning-600">
            <%= t('archived').capitalize %>
          </span>
        <% end %>
      </div>

    </div>

    <div class="flex items-stretch justify-center place-self-end gap-4">

      <%= link_to t('actions.edit'),
                  edit_project_path(project),
                  class: "btn-primary ",
                  data: { turbo_frame: "project_form" }  %>
      <% if project.archived? %>
        <%= link_to t('actions.unarchive'),
                    unarchive_project_path(project),
                    class: "btn-success",
                    data: { turbo_method: :put, turbo_confirm: t("confirmations.unarchive") }
                    %>
      <% else %>
        <%= link_to t('actions.archive'),
                    archive_project_path(project),
                    class: "btn-danger",
                    data: { turbo_method: :put, turbo_confirm: t("confirmations.archive") }
                    %>
      <% end  %>

    </div>
  </div>

  <% unless project.archived? %>
    <div class="flex w-full flex-col lg:flex-row gap-8 justify-end items-center">
      <%= link_to time_entries_path(new_entry: { project_id: project.id }), class: "link-primary", data: { turbo_frame: "_top" } do %>
        <span class=" mr-2"><%= icon_for(:time_entries) %></span>
        <%= t("actions.go_to_time_tracking") %>
      <% end %>
      <%= link_to visualization_path(project.default_visualization), class: "btn-secondary py-4", data: { turbo_frame: "_top" } do %>
        <span class=" mr-2"><%= icon_for(:project_issues) %></span>
        <%= t("actions.go_to_board") %>
      <% end %>
    </div>
  <% end %>
</div>
