<% set_page_title(:projects) %>

<%= show_app_tour_for("projects/index") %>

<%= turbo_frame_tag 'project_time_track_memberships' do %>
<% end %>

<div class="flex flex-col sm:flex-row sm:items-center sm:justify-between gap-3 mb-6">
  <h2 class="font-semibold text-3xl text-readable-content-800">
    <%= Project.model_name.human(count: 2) %>
  </h2>
  <%= link_to "#{t('actions.create')} #{Project.model_name.human.downcase}",
      new_project_path,
      class: "btn-primary btn-xl tour--add-project",
      data: { turbo_frame: 'project_form' } %>
</div>

<%= turbo_frame_tag 'project_form' do %>
<% end %>

<%= turbo_frame_tag 'projects', class: "tour--projects-list" do %>
  <div class="flex flex-col gap-4 lg:gap-8 flex-wrap justify-stretch" id="projects-list">
    <% if @projects.count.zero? %>
      <div class="border p-8 bg-body-contrast border-background-100 rounded-md shadow-xs items-center w-full p-6 "id='empty-row'>
        <p class='text-center text-readable-content-500'>
          <%= t("zero_records", resource_name: Project.model_name.human) %>
        </p>
        <p class="mt-3 text-center mb-4">
          <%= link_to t('click_here_to_create_one'), new_project_path, class: "btn-primary inline-block", data: { turbo_frame: 'project_form' } %>
        </p>
      </div>
    <% else %>
      <%= render partial: 'project', collection: @projects, as: :project %>
    <% end %>
  </div>
<% end %>
