<%= turbo_frame_tag dom_id(todo) do %>
  <div class="cpy-todo flex items-start gap-2 group">
    <%= form_with url: toggle_issue_todo_list_todo_path(todo.todo_list.issue, todo.todo_list, todo),
      method: :put,
      data: { controller: "form" },
      class: "flex items-center pt-0.5" do %>
      <%= check_box_tag "finished", "1", todo.finished?,
        class: "checkbox checkbox-sm",
        data: {
          "issue--todos-target": "checkbox",
          action: "change->form#submit change->issue--todos#refresh"
        } %>
    <% end %>

    <%= link_to todo.description,
      edit_issue_todo_list_todo_path(todo.todo_list.issue, todo.todo_list, todo),
      class: "cpy-todo-text grow cursor-pointer break-all #{'line-through opacity-60' if todo.finished?}",
      data: { turbo_frame: dom_id(todo), "todo-text": true } %>

    <div class="flex items-center gap-1 opacity-0 group-hover:opacity-100">
      <%= button_to issue_todo_list_todo_path(todo.todo_list.issue, todo.todo_list, todo),
        method: :delete,
        class: "cpy-delete-todo btn btn-ghost btn-xs btn-error" do %>
        <%= icon_for(:remove) %>
      <% end %>

      <%= link_to edit_issue_todo_list_todo_path(todo.todo_list.issue, todo.todo_list, todo),
        class: "cpy-edit-todo btn btn-ghost btn-xs",
        data: { turbo_frame: dom_id(todo) } do %>
        <%= icon_for(:edit) %>
      <% end %>
    </div>
  </div>
<% end %>
