<%= turbo_frame_tag dom_id(comment) do %>
  <div class="space-y-2">
    <div class="rounded-lg p-5 text-sm text-readable-content-500 bg-background-100">
      <%= simple_format(comment.content) %>
    </div>
    <div class="flex justify-between text-xs">
      <div class="text-readable-content-500 italic pl-2">
        <%= t(".created_at", time: time_ago_in_words(comment.created_at)) %>
      </div>
      <div class="gap-1 flex justify-end">
        <%= link_to edit_issue_comment_path(comment.issue, comment),
          class: "link-primary" do %>
          <%= t("actions.edit") %>
        <% end %>
        <span class="text-readable-content-500">&middot;</span>
        <%= link_to issue_comment_path(comment.issue, comment),
          data: {
            turbo_confirm: t("confirmations.delete_comment"),
            turbo_method: :delete
          },
          class: "link-primary" do %>
          <%= t("actions.remove") %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>