<ul class="flex flex-col">
  <% menu_items.each do |menu_item|
      sub_menu = menu_item[:sub_menu] || []
      link_active_class= "text-body-500"
      text_class = ""
      if sub_menu.empty?
        if controller_name.to_sym == menu_item[:main_controller].to_sym
          if menu_item[:action_name].blank? || (action_name.to_sym == menu_item[:action_name].to_sym)
            link_active_class = "border-r-2 text-primary-500 bg-body-100"
          end
        end
      else
        sub_menu.each do |menu_item|
          if controller_name.to_sym == menu_item[:main_controller].to_sym
            link_active_class = "bg-body-100"
          end
        end
      end
  %>

      <li class="">
        <%
            wrapper_tag = sub_menu.empty? ? :a : :div

            wrapper_options = {
              "class": "block px-8 py-4 #{link_active_class} hover:border-r-2 border-primary-500 hover:bg-body-100 hover:text-indgo-500 truncate transition duration-150"
            }

            if sub_menu.empty?
              wrapper_options[:href] = menu_item[:url]
              wrapper_options[:data] = menu_item[:data]
            else
              wrapper_options[:data] = { action: "click->sidebar#expand" }
            end

        %>
        <%=
            content_tag(wrapper_tag, wrapper_options) do %>
            <div class="group flex flex-col justify-between gap-2">
              <div class="flex items-center text-lg">
                  <% if sub_menu.empty? %>

                    <span class=" group-hover:text-primary-500">
                      <%= menu_item[:icon] %>
                    </span>
                    <span class="group-hover:text-primary  group-hover:font-bold group-active:text-primary text-sm font-medium ml-4 md:hidden md:sidebar-expanded:block"><%= menu_item[:text] %></span>
                  <% else %>
                    <span class="">
                      <%= menu_item[:icon] %>
                    </span>
                    <span class="text-sm font-medium ml-4 md:hidden md:sidebar-expanded:block"><%= menu_item[:text] %></span>
                  <% end %>
              </div>



              <%
                sub_menu.each do |menu_item|
              %>

                <%
                  link_active_class = ""
                  if controller_name.to_sym == menu_item[:main_controller].to_sym
                    if menu_item[:action_name].blank? || (action_name.to_sym == menu_item[:action_name].to_sym)
                      link_active_class = "text-primary-500"
                    end
                  end
                %>
                <a class="pl-2 hidden sidebar-expanded:block hover:bg-body-200 p-2 rounded-md block hover:text-indigo-700 active:text-indigo-700  <%= link_active_class %>" href="<%= menu_item[:url] %>">
                  <span class="text-sm font-medium"> <%= menu_item[:text] %></span>
                </a>

              <% end %>


            </div>
        <% end %>

      </li>

  <% end %>

</ul>