<div class="text-base-content">
  <div class="flex items-stretch pl-8">
    <%= link_to projects_path,
        class: "flex items-center grow text-lg py-4 md:sidebar-expanded:pb-2" do %>

      <%= icon_for(:projects) %>
      <span class="text-sm font-medium ml-4 md:hidden md:sidebar-expanded:block "><%= t('.projects') %></span>
    <% end %>

    <%= link_to new_project_path,
        class: "items-center justify-center flex md:hidden gap-2 px-4 pt-4 pb-2 text-xs hover:font-bold hover:text-primary md:sidebar-expanded:flex" do %>
      <i class="ti ti-plus"></i>
      <%= t('actions.add') %>
    <% end %>
  </div>

  <div class="sidebar--list">
    <%= link_to projects_path do %>
      <%= t('.list_all_projects') %>
    <% end %>

    <%  Project.active.order(name: :asc).all.each do |project| %>
      <%= link_to project.name, visualization_path(project.default_visualization) %>
    <% end %>

  </div>
</div>