<div class="text-readable-content-500">
  <div class="flex items-stretch pl-8">
    <%= link_to projects_path,
        class: "flex items-center grow text-lg py-4 md:sidebar-expanded:pb-2" do %>

      <%= icon_for(:projects) %>
      <span class="text-sm font-medium ml-4 md:hidden md:sidebar-expanded:block "><%= t('.projects') %></span>
    <% end %>

    <%= link_to new_project_path,
        class: "items-center justify-center flex md:hidden gap-2 px-4 pt-4 pb-2 text-xs hover:font-bold hover:text-primary-800 md:sidebar-expanded:flex" do %>
      <i class="fa fa-plus"></i>
      <%= t('actions.add') %>
    <% end %>
  </div>

  <div style='font-size: 0.84rem;' class="max-h-[300px] overflow-y-auto px-8 md:hidden md:sidebar-expanded:block pb-4">
    <%= link_to projects_path,
        class: "py-1.5 flex gap-2 items-center font-normal grow text-readable-content-500 hover:font-semibold hover:text-primary-800",
        style: 'padding: 0.25em 0;' do %>
      <%= t('.list_all_projects') %>
    <% end %>
    <%  Project.active.order(name: :asc).all.each do |project| %>
      <%= link_to project.name, visualization_path(project.default_visualization),
        class: "block grow font-normal text-readable-content-500 hover:font-semibold hover:text-primary-800 truncate",
        style: 'padding: 0.25em 0;' %>
    <% end %>

  </div>
</div>