<div class=" hover:border-r-2 border-primary-700 hover:bg-background-100 truncate transition duration-150 text-readable-content-500">
  <%= link_to projects_path,
      class: "flex items-center text-lg px-8 py-4 md:sidebar-expanded:pb-2" do %>

    <%= icon_for(:projects) %>
    <span class="text-sm font-medium ml-4 md:hidden md:sidebar-expanded:block "><%= t('.projects') %></span>
  <% end %>

  <div class="max-h-[300px] overflow-y-auto px-8 md:hidden md:sidebar-expanded:block pb-4">
    <%= link_to projects_path,
        class: "text-xs py-1.5 flex gap-2 items-center font-normal grow text-readable-content-500 hover:font-semibold hover:text-primary-800" do %>

      <%= t('.list_all_projects') %>
    <% end %>
    <%  Project.active.order(name: :asc).all.each do |project| %>
      <%= link_to project.name, visualization_path(project.default_visualization),
        class: "block text-xs py-1.5 grow font-normal text-readable-content-500 hover:font-semibold hover:text-primary-800 truncate" %>
    <% end %>

  </div>
</div>