<%= turbo_frame_tag 'grouping_form' do %>
  <%= render_modal do %>
    <div class="border-b border-base-200 pb-2 mb-4">
      <div class="flex items-center space-x-2">
        <div class="flex h-7 w-7 items-center justify-center rounded-lg bg-primary/10 p-1 text-primary ">
          <%= icon_for(:groupings) %>
        </div>
        <h4 class="text-lg font-medium text-base-content">
          <%= grouping.persisted? ? "#{t("actions.edit")} #{Grouping.model_name.human}" : "#{t("actions.create")} #{Grouping.model_name.human}"%>
        </h4>
      </div>
    </div>
    <div class="space-y-4">
      <%= form_with(model: [visualization, grouping], html: { class: 'flex flex-col gap-2' }) do |f| %>
        <% if grouping.errors.any? %>
          <div class="flex rounded-md w-full border-l-6 border-alert-500 bg-alert-500 bg-opacity-[15%] px-4 py-1 mb-5 shadow-sm md:p-4 text-sm text-alert-500">
            <%= grouping.errors.full_messages.to_sentence.capitalize %>
          </div>
        <% end %>

        <div class="mb-4 flex flex-col items-stretch gap-2">
          <%= f.label :title, Grouping.human_attribute_name(:title), class: "label-primary" %>
          <%= f.text_field :title, required: true, autofocus: true, class: "input-primary" %>
        </div>


        <div class="flex gap-2 justify-center">
          <a class="btn-cancel" data-action="click->modal#close">
            <%= t('actions.cancel') %>
          </a>

          <% text = grouping.persisted? ? t('actions.update') : t('actions.create') %>
          <%= f.button text, class: "btn-primary" %>
        </div>
      <% end %>
    </div>
  <% end %>
<% end %>
