<div class="dropdown dropdown-end dropdown-hover block ">

  <button type="button" class="btn btn-sm btn-primary btn-ghost tour--header-guide-button cpy-header-tour-button tooltip tooltip-bottom" data-tip="<%= t('menu_items.help') %>">
    <i class="ti ti-info-circle"></i>
  </button>

  <ul tabindex="-1" class="menu dropdown-content bg-base-100 rounded-box z-1 w-54 p-2 shadow-2xl cpy-header-tour-dropdown">
    <li class="menu-title text-xs"><%= t('.title') %></li>
    <li>
      <%= link_to projects_path(activate_tour: "projects/index"), data: { turbo_frame: "_top" } do %>
        <span class="w-5 flex items-center justify-center"><%= icon_for(:projects) %></span>
        <%= t('.projects') %>
      <% end %>
    </li>
    <li>
      <% if example_project_id = Issue.first&.project_id %>
        <%= link_to project_issues_path(example_project_id, activate_tour: "issues/index"), data: { turbo_frame: "_top" } do %>
          <span class="w-5 flex items-center justify-center"><%= icon_for(:issues) %></span>
          <%= t('.issues') %>
        <% end %>
      <% end %>
    </li>
    <li>
      <% if example_visualization = Visualization.first %>
        <%= link_to visualization_path(example_visualization, activate_tour: "visualization/board"), data: { turbo_frame: "_top" } do %>
          <span class="w-5 flex items-center justify-center"><%= icon_for(:boards) %></span>
          <%= t('.board') %>
        <% end %>
      <% end %>
    </li>
    <li>
      <%= link_to time_entries_path(activate_tour: "time_entries/index"), data: { turbo_frame: "_top" } do %>
        <span class="w-5 flex items-center justify-center"><%= icon_for(:time_entries) %></span>
        <%= t('.time_entries') %>
      <% end %>
    </li>
  </ul>
</div>