<%= turbo_frame_tag 'time_entry_form' do %>

<%= render_modal do %>
  <div class="border-b border-background-200 pb-2 mb-4">
    <div class="flex items-center space-x-2">
      <div class="flex size-6 items-center justify-center rounded-lg bg-primary-500/10 p-1 text-primary-500">
        <%= icon_for(:time_entries) %>
      </div>
      <h4 class="text-lg font-medium text-readable-content-700">
        <%= time_entry.persisted? ? "#{t("actions.edit")} #{TimeEntry.model_name.human}" : "#{t("actions.create")} #{TimeEntry.model_name.human}"%> - <%= l(time_entry.reference_date) %>
      </h4>
    </div>
  </div>
  <div class="">
    <%= form_with(model: time_entry, html: {
        class: 'flex flex-col gap-4',
        data: { controller: 'dependent-fields form  time-entry--form' }
      }) do |f| %>
      <% if time_entry.errors.any? %>
        <div class="flex rounded-md w-full border-l-6 border-alert bg-alert bg-opacity-[15%] px-4 py-1 mb-5 shadow-sm md:p-4 text-sm text-alert">
          <%= time_entry.errors.full_messages.to_sentence.capitalize %>
        </div>
      <% end %>

      <%= f.hidden_field :reference_date %>

      <div class="flex gap-2 flex-col cpy-project-list tour--project-selection">
        <%= f.label :project_id, TimeEntry.human_attribute_name(:project), autofocus: (time_entry.new_record? && time_entry.project_id.blank?), class: "label-primary" %>

        <%= f.select :project_id, options_from_collection_for_select(Project.order(name: :asc).all, :id, :name, time_entry.project_id), { include_blank: t('select_one') }, {required: true, style: "width: 100%", data: {
          controller: 'select2',
          dependent_fields_target: "hasDependents",
          dependant_turbo_frame_selector: '#project_dependent_fields'
        } } %>
      </div>

      <%= render partial: 'form_project_dependent_fields', locals: { form: f } %>

      <div class="flex gap-2 flex-col tour--description-field">
        <%= f.label :description, TimeEntry.human_attribute_name(:description), autofocus: time_entry.persisted?, class: "label-primary" %>

        <div data-controller='resizable-input' class="relative" >
          <div data-resizable-input-target="replica" class="break-all text-sm p-2 whitespace-pre-line"></div>

          <%= f.text_area :description,
            class: "text-sm p-2 input-primary absolute w-full left-0 top-0 right-0 bottom-0 overflow-y-hidden",
            "data-resizable-input-target": "input",
            "data-action": "keydown.ctrl+enter->form#submit keydown.meta+enter->form#submit"
            %>
        </div>
        <div class="text-right text-xs text-italic text-readable-content-500">
          <span><%= t('.save_on_command_enter') %></span>
        </div>
      </div>

      <div class="flex gap-2 flex-col tour--logged-time">
        <%= f.label :total_logged_time_in_minutes, "*"+ TimeEntry.human_attribute_name(:total_logged_time_in_minutes), class: "label-primary" %>
        <%= f.number_field :total_logged_time_in_minutes, required: true, class: "input-primary" %>
      </div>

      <div class="flex gap-2 justify-center mt-2 tour--form-actions">
        <a class="cursor-pointer btn-cancel" data-action="click->modal#close">
          <%= t('actions.cancel') %>
        </a>

        <% text = time_entry.persisted? ? t('actions.update') : t('actions.create') %>
        <%= f.button text, class: "btn-primary" %>
      </div>
    <% end %>
  </div>
<% end %>
<% end %>
