<tr id="<%= dom_id(issue) %>">
  <td>
    <%= link_to project_show_issue_path(issue.project, issue),
          data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
      <%= issue.title %>
      <% if issue.archived? %>
        <span class="ml-2 inline-block rounded-full border-warning-600 bg-warning-200 text-warning-800 border py-1 px-3 text-xs font-medium text-warning-600">
          <%= t('archived').capitalize %>
        </span>
      <% end %>
    <% end %>
  </td>
  <td>
    <%= labels_list_for(issue) %>
  </td>
  <td>
    <% if issue.groupings.present? %>
      <%= issue.groupings.first.title %>
    <% else %>
      <%= t(".no_grouping") %>
    <% end %>
  </td>
  <td><%= l issue.created_at, format: :short %></td>
  <td><%= l issue.updated_at, format: :short %></td>
  <td class="tour--issue-actions">
    <div class="flex gap-4 text-lg opacity-80">
      <%= link_to project_show_issue_path(issue.project, issue),
          class: "link-primary text-sm cpy-edit-button",
          data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
        <i class="fa-solid fa-up-right-from-square mr-1"></i>
        <%= t("actions.go_to_issue") %>
      <% end %>
    </div>
  </td>
</tr>
