<tr id="<%= dom_id(issue) %>">
  <td>
    <%= link_to project_show_issue_path(issue.project, issue),
          data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
      <% if issue.finished? %>
        <span class="mr-1 text-success-800 text-sm">
          <%= icon_for(:finished) %>
        </span>
      <% end %>
      <% if issue.archived? %>
        <span class="mr-1 text-warning-800 text-sm">
          <%= icon_for(:archived) %>
        </span>
      <% end %>
      <%= issue.title %>

    <% end %>
  </td>
  <td>
    <%= labels_list_for(issue) %>
  </td>
  <td>
    <% if issue.groupings.present? %>
      <%= issue.groupings.first.title %>
    <% else %>
      <%= t(".no_grouping") %>
    <% end %>
  </td>
  <td>
    <%= due_date_for(issue) %>
  </td>
  <td class="tour--issue-actions">
    <div class="flex gap-4 text-lg opacity-80">
      <%= link_to project_show_issue_path(issue.project, issue),
          class: "link-primary text-nowrap text-sm cpy-edit-button",
          data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
        <i class="fa-solid fa-up-right-from-square mr-1"></i>
        <%= t("actions.go_to_issue") %>
      <% end %>
    </div>
  </td>
</tr>
