<tr id="<%= dom_id(issue) %>">
  <td class="show-issue-finish-toggle-on-hover">
    <span class="flex items-center">
      <%= render Issue::FinishToggleComponent.new(issue: issue) %>

      <%= link_to project_show_issue_path(issue.project, issue),
            data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
        <% if issue.archived? %>
          <span class="mr-1 text-warning-800 text-sm">
            <%= icon_for(:archived) %>
          </span>
        <% end %>
        <%= issue.title %>
      <% end %>
    </span>
  </td>
  <td>
    <%= labels_list_for(issue) %>
  </td>
  <td>
    <% if issue.groupings.present? %>
      <%= issue.groupings.first.title %>
    <% else %>
      <%= t(".no_grouping") %>
    <% end %>
  </td>
  <td>
    <%= due_date_for(issue) %>
  </td>
  <td class="tour--issue-actions text-right">
    <%= link_to project_show_issue_path(issue.project, issue),
        class: "btn btn-sm btn-square cpy-edit-button",
        data: { turbo_frame: 'issue_detail', turbo_action: 'advance' } do %>
      <i class="ti ti-arrow-up-right"></i>
    <% end %>
  </td>
</tr>
