<tr id="<%= dom_id(issue) %>">
  <td><%= issue.title %></td>
  <td>
    <%= labels_list_for(issue) %>
  </td>
  <td><%= l issue.created_at, format: :short %></td>
  <td><%= l issue.updated_at, format: :short %></td>
  <td>
    <div class="flex gap-4 text-lg opacity-80">
      <%= link_to project_show_issue_path(project, issue), class: "link-base cpy-edit-button", data: {
        turbo_frame: 'issue_detail',
        turbo_action: 'advance'
      } do %>
        <i class="fa fa-edit"></i>
      <% end %>

      <%= link_to issue_path(issue), class: "link-danger cpy-delete-button", data: { turbo_method: :delete, turbo_confirm: t("issue.destroy_confirmation") } do %>
        <i class="fa fa-trash-can"></i>
      <% end %>
    </div>
  </td>
</tr>
