<% set_page_title(:project_all_issues, project_name: current_project.name) %>


<%= render partial: 'projects/navigation_header', locals: {
  project: current_project
} %>

<%= turbo_frame_tag 'issues', data: { turbo_action: "advance" } do %>
  <%= render partial: 'filter', locals: { q: @q } %>

  <div class="flex flex-col gap-3 lg:gap-6 flex-wrap justify-stretch">
    <% if @issues.empty? %>
    <% else %>
      <table class="table-primary table-striped">
        <thead class="text-xs font-semibold uppercase ">
          <tr>
            <th><%= sort_link(@q, :title, Issue.human_attribute_name(:title)) %></th>
            <th><%= Issue.human_attribute_name(:labels) %></th>
            <th><%= sort_link(@q, :created_at, Issue.human_attribute_name(:created_at)) %></th>
            <th><%= sort_link(@q, :updated_at, Issue.human_attribute_name(:updated_at)) %></th>
          </tr>
        </thead>
        <tbody class="text-sm divide-y">
          <%= render partial: 'issue', collection: @issues, as: :issue %>
        </tbody>
      </table>

      <%== pagy_nav(@pagy) %>
    <% end %>
  </div>
<% end %>
