<%= render_modal(
  wrapper_options: {
    id: 'confirm-modal',
    class: "confirm-modal",
    data: {
      modal_background_id: "confirm-modal-background",
      modal_background_html: "<div id=\"confirm-modal-background\" class=\"fixed top-0 left-0 w-full h-full\" style=\"background-color: rgba(0, 0, 0, 0.8); z-index: 9999;\"></div>",
    }
  },
  container_options: {
    class: "hidden animate__animated animate__zoomIn fixed inset-0 overflow-y-auto flex items-center justify-center",
    style: "z-index: 10000; animation-duration: 300ms;"
  }) do %>
  <div class="flex">
	  <div class="text-info">
      <i class="ti ti-alert-square-rounded" style="font-size: 24px"></i>
	  </div>

	  <div class="ml-3">
      <h2 class="font-semibold"><%= t(".title") %></h2>
      <p class="mt-2 text-sm leading-relaxed" id="confirm-title"><%= t(".body") %></p>
	  </div>
	</div>

  <div class="confirm-modal-actions flex justify-end items-center flex-wrap mt-6 gap-2">
    <button class="confirm-cancel btn btn-sm btn-neutral" data-action="click->modal#close"><%= t("actions.cancel") %></button>
    <button id="confirm-accept" class="btn btn-sm btn-primary" data-action="click->modal#close"><%= t("actions.confirm") %></button>
  </div>
<% end %>
