<%= render Modal::DialogComponent.new(
  open: false,
  emit_close_event: false,
  dialog_id: 'confirm-modal') do %>
  <div class="flex">
	  <div class="text-info">
      <i class="ti ti-alert-square-rounded" style="font-size: 24px"></i>
	  </div>

	  <div class="ml-3">
      <h2 class="font-semibold"><%= t(".title") %></h2>
      <p class="mt-2 text-sm leading-relaxed" id="confirm-title"><%= t(".body") %></p>
	  </div>
	</div>

  <div class="confirm-modal-actions flex justify-end items-center flex-wrap mt-6 gap-2">
    <button class="confirm-cancel btn btn-sm btn-neutral" data-action="click->modal#close"><%= t("actions.cancel") %></button>
    <button id="confirm-accept" class="btn btn-sm btn-primary" data-action="click->modal#close"><%= t("actions.confirm") %></button>
  </div>
<% end %>
