<%= render_modal(
  wrapper_options: {
    id: 'confirm-modal',
    class: "confirm-modal",
    data: {
      modal_background_id: "confirm-modal-background",
      modal_background_html: "<div id=\"confirm-modal-background\" class=\"fixed top-0 left-0 w-full h-full\" style=\"background-color: rgba(0, 0, 0, 0.8); z-index: 9999;\"></div>",
    }
  },
  container_options: {
    class: "hidden animate__animated animate__zoomIn fixed inset-0 overflow-y-auto flex items-center justify-center",
    style: "z-index: 10000; animation-duration: 300ms;"
  }) do %>
  <h3 class="text-xl mb-4"><%= t(".title") %></h3>

  <p id="confirm-title" class="mb-4"><%= t(".body") %></p>

  <div class="confirm-modal-actions flex justify-end items-center flex-wrap mt-6 gap-2">
    <button class="confirm-cancel btn-cancel" data-action="click->modal#close"><%= t("actions.cancel") %></button>
    <button id="confirm-accept" class="btn-primary" data-action="click->modal#close"><%= t("actions.confirm") %></button>
  </div>
<% end %>
