<div class="sidebar min-w-fit z-10 relative">
   <div data-sidebar-target="backdrop" class="fixed inset-0 bg-background-900 bg-opacity-30 z-40 hidden lg:hidden lg:z-auto transition-opacity duration-200" aria-hidden="true"></div>

   <div data-sidebar-target="sidebar"
      style="z-index: 1000;"
      class="flex border-r border-base-200 bg-background-menu lg:!flex flex-col justify-stretch absolute left-0 top-0 lg:static lg:left-auto lg:top-auto lg:translate-x-0 h-[100dvh]  w-64 lg:w-20 lg:sidebar-expanded:!w-64 shrink-0 transition-all duration-200 ease-in-out -translate-x-64 shadow-sm">
      <div class="flex grow flex-col overflow-visible">
         <div class="h-16 mb-4 md:mb-0 lg:sidebar-expanded:mb-8 relative cpy-sidebar-login-data">
            <button data-action="click->sidebar#closeAsMenu" style="right: 15px; top: calc(50% - 16px);" class="absolute z-20 md:hidden text-2xl text-base-content opacity-80 hover:text-base-content">
               <i class="fa fa-xmark"></i>
            </button>
            <a href="<%= root_path %>" class="flex justify-center items-center p-4 hidden sidebar-expanded:block pl-6">
              <%= image_tag 'logo-white.svg', class: "dark-themes-only" , style: 'width: 150px; opacity: 0.8;' %>
              <%= image_tag 'logo.svg', class: "light-themes-only" , style: 'width: 150px; opacity: 0.8;' %>
            </a>

            <a href="<%= root_path %>" class="flex justify-center items-center p-4 sidebar-expanded:hidden">
              <%= image_tag 'icon-white.svg', class: "dark-themes-only" , style: 'width: 40px; opacity: 0.8;' %>
              <%= image_tag 'icon.svg', class: "light-themes-only", style: 'width: 40px; opacity: 0.8;' %>
            </a>
         </div>
         <div class="sidebar-expanded:mt-0">
            <div class="px-4 sidebar-expanded:mb-2 sm:h-16 sm:sidebar-expanded:h-auto flex items-center sidebar-expanded:justify-between justify-center uppercase text-base-content opacity-50 font-semibold">
               <div class="text-xs">
                  <span class="pl-3 block md:hidden lg:sidebar-expanded:block">Menu</span>
               </div>
               <div class="hidden lg:block justify-end">

                  <button
                    data-sidebar-target="unpinSidebarButton"
                    data-action="click->sidebar#unpinSidebar"
                    class="text-base-content hover:text-base-content">
                    <i class="fa-solid fa-angles-left"></i>
                  </button>
                  <button
                    data-sidebar-target="pinSidebarButton"
                    data-action="click->sidebar#pinSidebar"
                    class="text-base-content hover:text-base-content">
                    <i class="fa-solid fa-map-pin"></i>
                  </button>
               </div>
            </div>
            <%= render partial: 'layouts/_sidebar/projects_menu' %>

            <%= render partial: 'layouts/_sidebar/menu_group', locals: {
               menu_items: [
                  {
                    text: t('.menu.timesheet'),
                    icon: icon_for(:time_entries),
                    main_controller: :time_entries,
                    url: time_entries_path
                  },
                  {
                    text: t('.menu.total_time_report'),
                    icon: icon_for(:report),
                    main_controller: :reports,
                    url: total_time_reports_path
                  }
               ]
            } %>
         </div>
      </div>


      <div class="sidebar-bottom border-t border-base-100">
         <div class="flex flex-col items-stretch">
            <% active_class = (controller_name == 'profiles') ? 'is-selected bg-base-100 text-primary-800' : 'text-primary-600' %>

            <a href="<%= edit_profile_path %>" class="<%= active_class %> hover:text-primary-800 group flex sm:justify-center items-center sidebar-expanded:justify-start space-x-3 py-2 px-4 transition-all hover:bg-base-100">
               <div class="flex justify-center items-center size-8 ">
                  <i class="fa-regular fa-id-card"></i>
               </div>

               <div class="lg:hidden lg:sidebar-expanded:block">
                  <h2 class="font-medium">
                     <%= t(".edit_profile") %>
                  </h2>
                  <div class="text-xs  line-clamp-1">
                     <%= t(".profile_options") %>
                  </div>
               </div>
            </a>
         </div>
      </div>

   </div>

</div>