<!DOCTYPE html>
<html>
  <head>
    <title><%= page_title %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="<%= asset_url('icon.png') %>" type="image/png">
    <link rel="icon" href="<%= asset_url('icon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" href="<%= asset_url('icon.png') %>">

    <%# Vendors Files %>
    <%= stylesheet_link_tag "animate.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "select2.min.css", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "flatpickr.min.css", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'simplemde.min' %>
    <%= javascript_include_tag 'simplemde.override' %>
    <%= stylesheet_link_tag 'simplemde.min' %>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= current_theme_stylesheet_link_tag("data-turbo-track": "reload") %>
    <%= stylesheet_link_tag "alert-messages.css", "data-turbo-track": "reload" %>


    <%= javascript_importmap_tags %>
  </head>

  <body class="antialiased"
    data-controller="sidebar" >
    <div id="alert-messages">
      <%= render "layouts/flash_messages" %>
    </div>
    <%= render "layouts/guide_modal" %>
    <div id="modal-area"></div>

    <main class="flex h-screen overflow-hidden">
      <%= render "layouts/sidebar" %>

      <div class="relative flex flex-col flex-1 overflow-y-auto overflow-x-hidden">
         <%= render "layouts/header" %>

         <% if skip_layout_content_wrapper? %>
          <%= yield %>
         <% else %>
          <main class="grow p-4 sm:p-8">
            <%= yield %>
          </main>
        <% end %>
      </div>
    </main>
  </body>
</html>
